body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff8200;
}

p{
  color:#424242;
}

label{
	display:block;
	padding: 10px 0;
}

nav{
background: #ff8200;
}

.navbar-default {

    background-color: #ff8200;
    border-color: #e7e7e7;
}
.navbar-right{
margin-right:0 !important;
}

.row{
margin:0;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0;
    margin-top: -7px;
  }
}

.navbar-default .navbar-brand {
    color: #fff;
}
.add_event_panel {
  background: #252525 !important;
  color:white;
    position: fixed;
    top: 50px;
    bottom: 0;
}
.add_event_panel:before {
  background: #252525 !important;
  content: ' ';
  height: 100%;
  margin-left: -15px; /* compensates column's padding */
  margin-top: -50px;
  position: fixed;
  width: inherit; /* bootstrap column's width */
  z-index: -1; /* puts behind content */
  box-shadow:1px 1px 5px #D0D0D0;
}

.add_event_panel input, .add_event_panel select, .add_event_panel textarea{
color:#252525;}

.col-md-3 {
  background: #FDFDFD;
}
.col-md-3:before {
  background: #FDFDFD;
  content: ' ';
  height: 100%;
  margin-left: -15px; /* compensates column's padding */
  margin-top: -50px;
  position: fixed;
  width: inherit; /* bootstrap column's width */
  z-index: -1; /* puts behind content */
  box-shadow:1px 1px 5px #D0D0D0;
}
.left_panel{
    padding-top:20px;
    z-index:1;
}

.left_panel ul{
	list-style-type: none;
}
button, input, select, textarea  {

    border: none;
    padding: 10px;
    background: white;
    border-bottom: 1px solid #FFAB54;
    width: 100%;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background: #ff8200;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
}

.h1, h1 {
    font-size: 24px;
}

.h3, h3 {
    font-size: 16px;
}

label {
    display: block;
    padding: 20px 0 0px;
}
.left_panel .time_loc{
    width: 25%;
    padding: 10px;
    overflow:hidden;
    color:#ff8200;
}

.left_panel .article_cont {
    width: 50%;
    padding: 0 25px;
}

.left_panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left_panel li {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff8200;
    display: flex;
}

.left_panel li button{
	width:25%;
}

button.close {
    width: auto !important;
}

.add_article{
display:flex;
position: relative;
    margin-left: 25%;

}

.add_article .time_loc{
    width: 15%;
    padding: 10px;
    overflow:hidden;
    color:#ff8200;
}

.add_article .article_cont {
    width: 50%;
    padding: 0 25px;
}

.add_article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.add_article li {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff8200;
    display: flex;
}

.fa{
	float: left;
    padding: 0 5px;
    font-size: 17px !important;
}

.map_fixed{
    position: fixed;
    width: 100vw ;
}

.modal-backdrop.in {
    z-index: -1;
}

#map_wrapper {
  min-height: 100vh;
  height: 100vh;
  margin-top: -50px;
}

#map_canvas {
  width: 100%;
  height: 100%;
}